# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\education\curses\MERN_GrapghQl_2022\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
